:root {
    --font-sans-serif: Poppins, sans-serif;
    --font-serif: Luckiest Guy, serif;
    --black: #000;
    --white: #eaeaea;
    --red: #f52437;
    --orange: #f95008;
    --yellow: #fdd144;
    --green: #148f67;
    --blue: #1989f0;
    --pink: #ed9ede;

}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Typography */
  
body {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    color: var(--black);
    line-height: 1.75;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-serif);
    color: var(--black);
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

/* .component */

.component img {
    display: inline-block;
    max-width: 25%;
}

.component__img {
    border: 1px solid var(--black);
    overflow-x: auto;
}

.component__img--icons img {
    max-width: 100px;
}

.component__code {
    border: 1px solid var(--black);
    background-color: var(--pink);
}

.component__code p {
    max-width: 425px;
    text-align: center;
    font-size: 1.25rem;
}

.component__code img {
    max-width: 100px;
}

/* BANNER */

.component__img--banner img {
    max-width: 100%;
}

.component__code--banner {
    background-color: var(--orange);
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.component__code--banner p {
    padding: 0.25rem;
}

/*NAVIGATION */

.component__img--MainNav img{
    max-width: 100%;
}
.component__code--main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 0 20rem;
  
  }
  
  .main-nav__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  }

  .main-nav__list img {
      max-width: 50%;
  }
  
  .logo {
    margin: 0 8rem;
  }
  
  .main-nav__item {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  .main-nav__item a {
    text-decoration: none;
    color: var(--black);
  }
  
  .main-nav__shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  .main-nav__icon img {
    max-height: 100%;
    padding: 0 0.75rem;
  }

  /* HERO */

  .component__code--hero img{
      max-width: 100%;
  }

  .container {
      position: relative;
  }

  .container__icons {
      all: unset;
  }

  .icon1 {
      position: absolute;
      top: 5rem;
      left: 20rem;
      max-height: 125px;
  }

  .icon2 {
      position: absolute;
      top: 10rem;
      right: 20rem;
      max-height: 100px;
  }

  .icon3 {
    position: absolute;
    top: 25rem;
    left: 20rem;
    max-height: 100px;
}

.icon4 {
    position: absolute;
    top: 28rem;
    right: 36rem;
    max-height: 55px;
}

.icon5 {
    position: absolute;
    top: 35rem;
    left: 36rem;
    max-height: 100px;
}

.icon6 {
    position: absolute;
    top: 32rem;
    right: 26rem;
    max-height: 75px;
}

.icon7 {
    position: absolute;
    top: 42rem;
    left: 20rem;
    max-height: 100px;
}

.icon8 {
    position: absolute;
    top: 45rem;
    right: 16rem;
    max-height: 100px;
}

  /* THIS IS MINI COOLS */

.component__code--ThisIS {
    background-color: var(--yellow);
    text-align: center;
    padding-bottom: 5rem;
}

.component__code--ThisIS h2 {
    width: 350px;
    margin: 0 40rem;
    line-height: 1em;
    padding-top: 5rem;
}

.component__code--ThisIS p {
    width: 300px;
    margin: 0 42rem;
    padding-bottom: 1rem;
}

.component__code--ThisIS a {
    color: var(--black);

}

.component__code--ThisIS a:hover {
    color: var(--white);

}

.button {
    display: inline-block;
    max-width: 200px;
    text-align: center;
    background: transparent;
    border-radius: 30px;
    border: 2px solid #000;
    padding: 12px 15px;

}

.button:hover{
    display: inline-block;
    max-width: 200px;
    text-align: center;
    background: var(--black);
    border-radius: 30px;
    border: 2px solid #000;
    padding: 12px 15px;

}

.container__minicools {
    position: relative;
}

.hello-icon1 {
    position: absolute;
    top: 5rem;
    left: 5rem;
}

.hello-icon2 {
    position: absolute;
    top: 3.5rem;
    right: 5rem;
}

  /* OUR STORY */

  .component__code--OurStory {
      display: inline-block;
      width: 100%;
      background-color: var(--pink);
      text-align: center;
  }

  .component__code--OurStory h2 {
    background-color: var(--pink);
    max-width: 550px;
    line-height: 5rem;
    margin-left: 36rem;
}

.component__code--OurStory a {
    color: var(--black);
}

.component__code--OurStory a:hover {
    color: var(--white);
}

  .values-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .values-group img {
      max-height: 100px;
  }

  .values {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;
      line-height: 3rem;
  }