:root {
    --font-sans-serif: Poppins, sans-serif;
    --font-serif: Luckiest Guy, serif;
    --black: #000;
    --white: #eaeaea;
    --red: #f52437;
    --orange: #f95008;
    --yellow: #fbb92a;
    --green: #148f67;
    --blue: #1989f0;
    --pink: #ed9ede;

}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Typography */
  
body {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    color: var(--black);
    line-height: 1.75;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-serif);
    color: var(--black);
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

/* .component */

.component img {
    display: inline-block;
    max-width: 25%;
}

.component__img {
    border: 1px solid var(--black);
    overflow-x: auto;
}

.component__img--icons img {
    max-width: 100px;
}

.component__code {
    border: 1px solid var(--black);
    background-color: var(--pink);
}

.component__code p {
    max-width: 425px;
    text-align: center;
    font-size: 1.25rem;
}

.component__code img {
    max-width: 100px;
}