<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Components | Mini Cools</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/normalize.css"
</head>

<body>
	<h1>Web Components</h1>

	<h2>Typography Defaults</h2>

	<article class="component">
	<h3 class="component__name">body</h3>
	<img 
		srcset="img/This is Mini Cools P.png 2x"
		src="img/This is Mini Cools P.png" alt="body copy" />
	
	<div class="component__code">
		<p>The coolest brand with the most playful kids’ accessories. Mini Cools universe is full of colors, smiles and sparkles! A colorful world of mini fashion lovers with a big heart and eclectic taste.</p>
	</div>

	</article>
</body>
</html>