<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Components | Mini Cools</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/normalize.css">
</head>

<body>
	<h1>Web Components</h1>

	<h2>Typography Defaults</h2>

	<article class="component">
	<h3 class="component__name">body</h3>
	
	<div class="component__img">
		<img srcset="img/this is mini cools p.png x2"
			src="img/This is Mini Cools P.png" alt="body copy" 
		/>
	</div>
	
	<div class="component__code">
		<p>The coolest brand with the most playful kids’ accessories. Mini Cools universe is full of colors, smiles and sparkles! A colorful world of mini fashion lovers with a big heart and eclectic taste.</p>
	</div>

	</article>

	<article class="component">
		<h3 class="component__name">headings (h2, h3)</h3>
		
		<div class="component__img">
			<img srcset="img/h2.png x2"
				src="img/h2.png" alt="h2" />
			<img srcset="img/h3.png x2"
				src="img/h3.png" alt="h3" />
		</div>
		
		<div class="component__code">
			<h2>We make kids sparkle</h2>
			<h3>Confident kids</h3>
		</div>
	
	</article>

	<article class="component">
		<h3 class="component__name">Icons and Graphics</h3>
		
		<div class="component__img--icons">
			<img srcset="img/Account_Icon.png x2" 
				src="img/Account Icon.png" alt="account icon" />
			<img srcset="img/Shopping_cart_Icon.png x2" 
				src="img/Shopping Cart Icon.png" alt="backpack icon" />
			<img srcset="img/2022_badge.png x2" 
				src="img/2022_badge.png" alt="2022 badge" />
			<img srcset="img/Cherries_badge.png x2" 
				src="img/Cherries_badge.png" alt="Cherries badge" />
			<img srcset="img/Cute_badge.png x2" 
				src="img/Cute_badge.png" alt="cute badge" />
			<img srcset="img/Diamond_badge.png x2"
				src="img/Diamond_badge.png" alt="Diamond badge" />
			<img srcset="img/Flower_Graphic.png x2" 
				src="img/Flower_Graphic.png" alt="flower" />
			<img srcset="img/Hand_badge.png x2" 
				src="img/Hand_badge.png" alt="Hand badge" />
			<img srcset="img/heart-2.png x2" 
				src="img/heart-2.png" alt="heart 2" />
			<img srcset="img/heart.png x2" 
				src="img/heart.png" alt="heart" />
			<img srcset="img/Lolypops_badge.png x2"
				src="img/Lolypops_badge.png" alt="Lolypops badge" />
			<img srcset="img/Love_badge.png x2"
				src="img/Love_badge.png" alt="Love badge" />
			<img srcset="img/Made-wtih-love_badge.png x2"
				src="img/Made-wtih-love_badge.png" alt="Made with love badge" />
			<img srcset="img/Menu-star-dark.png x2" 
				src="img/Menu-star-dark.png" alt="menu star dark" />
			<img srcset="img/Nails_Graphic.png x2" 
				src="img/Nails_Graphic.png" alt="Nails badge" />
			<img srcset="img/Ringpop_Graphic.png x2" 
				src="img/Ringpop Graphic.png" alt="ring" />
			<img srcset="img/Star_badge.png x2" 
				src="img/Star_badge.png" alt="star" />
			<img srcset="img/Sunglasses_badge.png x2" 
				src="img/Sunglasses_badge.png" alt="sunglasses" />
			<img srcset="img/Thunder.png x2" 
				src="img/Thunder.png" alt="thunder" />
		</div>
		
		<div class="component__code">
			<img src="img/svgs/accountIcon_Black.png" alt="account icon" />
			<img src="img/svgs/backpackIcon_Black.png" alt="backpack icon" />
			<img src="img/svgs/2021-badge.svg" alt="2022 badge" />
			<img src="img/svgs/Cherries-badge.svg" alt="Cherries badge" />
			<img src="img/svgs/cute.svg" alt="cute badge" />
			<img src="img/svgs/Diamond-badge.svg" alt="Diamond badge" />
			<img src="img/svgs/flower.svg" alt="flower" />
			<img src="img/svgs/Hand-badge.svg" alt="Hand badge" />
			<img src="img/svgs/heart-2.svg" alt="heart 2" />
			<img src="img/svgs/heart.svg" alt="heart" />
			<img src="img/svgs/Lolypops-badge.svg" alt="Lolypops badge" />
			<img src="img/svgs/Love-badge.svg" alt="Love badge" />
			<img src="img/svgs/Made-with-love-badge.svg" alt="Made with love badge" />
			<img src="img/svgs/menu-star-dark.svg" alt="menu star dark" />
			<img src="img/svgs/Nails-badge.svg" alt="Nails badge" />
			<img src="img/svgs/ring.svg" alt="ring" />
			<img src="img/svgs/star.svg" alt="star" />
			<img src="img/svgs/sunglasses-icon.svg" alt="sunglasses" />
			<img src="img/svgs/thunder.svg" alt="thunder" />
		</div>
	
	</article>

</body>
</html>